<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadammiSite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BadammiSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/subscribe-better.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/plugin/bootstrap.min.js"></script>
    <script src="~/js/plugin/bootstrap-select.min.js"></script>
    <script src="~/js/plugin/owl.carousel.min.js"></script>
    <script src="~/js/plugin/jquery.plugin.min.js"></script>
    <script src="~/js/plugin/jquery.countdown.js"></script>
    <script src="~/js/plugin/jquery.subscribe-better.min.js"></script>
    <script src="~/js/theme.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid rel-div">
                <div class="col-lg-4 col-sm-8">
                    <div class="main-logo">
                        <a asp-controller="Home" asp-action="Index"> <img alt="" src="~/Resource/IMG/logo.png" />  </a>
                        <span class="medium-font">ORGANIC STORE</span>
                    </div>
                </div>

                <div class="col-lg-6 responsive-menu">
                    <div class="responsive-toggle fa fa-bars"> </div>
                    <nav class="fix-navbar" id="primary-navigation">
                        <ul class="primary-navbar">
                            <li class="dropdown active">
                                <a class="nav-link" role="button" asp-controller="Home" asp-action="Index" aria-haspopup="true">Home</a>
                            </li>
                            <li><a class="nav-link">About Us</a></li>
                            <li class="dropdown">
                                <a class="nav-link" role="button" asp-controller="Fruits" asp-action="Shop" aria-haspopup="true">Shop</a>
                            </li>
                            <li>
                                <a class="nav-link">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                </div>
        </nav>
    </header>

    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer">
        <section class="sec-space light-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 footer-widget">
                        <div class="main-logo">
                            <a href="index.html"> <img alt="" src="assets/img/logo/main-logo.png" />  </a>
                            <span class="medium-font">ORGANIC STORE</span>
                        </div>
                        <span class="divider-2"></span>
                        <div class="text-widget">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                            <ul>
                                <li> <i class="fa fa-map-marker"></i> <span> <strong>100 highland ave,</strong> california, united state </span> </li>
                                <li> <i class="fa fa-envelope-square"></i> <span><a href="#">contact@naturix.com</a> </span> </li>
                                <li> <i class="fa fa-phone-square"></i> <span><a href="#">www.naturix.com</a> </span> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 footer-widget">
                        <h2 class="title-1">  <span class="light-font">naturix  </span> <strong>information </strong> </h2>
                        <span class="divider-2"></span>
                        <ul class="list">
                            <li> <a href="#"> about our shop </a> </li>
                            <li> <a href="#"> top sellers </a> </li>
                            <li> <a href="#"> our blog </a> </li>
                            <li> <a href="#"> new products </a> </li>
                            <li> <a href="#"> secure shopping </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="pattern">
                <img alt="" src="assets/img/icons/white-pattern.png">
            </div>
            <div id="to-top" class="to-top"> <i class="fa fa-arrow-circle-o-up"></i> </div>
            <div class="container ptb-50">
                <div class="row">
                    <div class="col-md-6 col-sm-5">
                        <p>©2016 <a href="#"> <strong> naturix.com</strong> </a>, made with <i class="fa fa-heart red-clr"></i> by jThemes Studio, all right reserved</p>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <ul class="primary-navbar footer-menu">
                            <li> <a href="#">contact us </a> </li>
                            <li> <a href="#">term of use  </a> </li>
                            <li> <a href="#">site map  </a> </li>
                            <li> <a href="#">privacy policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

